.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 186);
    height: 50px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    transition: top 150ms linear;
}

.hidden {
    top: -50px;
}

.form-input {
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 8px;
    font-size: 14px;
    outline: none;
}

.form-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 7px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.search-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    stroke-width: 0;
    border: none;
    stroke: currentColor;
    fill: currentColor;
}