.search-form {
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: rgb(66, 66, 186, 90%);
    height: 50px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    transition: top 150ms linear;
}

.flag:before,
.flag:after {
    content: "";
    position: absolute;
    top: 50px;
    left: 20px;
    width: 25px;
    height: 20px;
    background-image: linear-gradient(to right top, transparent 50%, rgb(66, 66, 186) 50%);
}

.flag:after {
    transform: scaleX(-1);
    left: 20px;
}

.hidden {
    top: -50px;
}

.checkbox-wrapper {
    margin-right: 20vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__text {
    min-width: 100px;
    color: #fff;
}

input[type="checkbox"] {
    visibility: hidden;

    &:checked+label {
        background-color: #fff;
        border-color: #fff;
        // рамка неактивная
        // кружок неактивный

        &:before {
            transform: translateX(20px);
            background-color: rgb(66, 66, 186);
        }
    }
}

label {
    display: flex;
    min-width: 40px;
    height: 20px;
    border: 2px solid; 
    border-color: #fff;
    background-color: transparent;
    border-radius: 99em;
    position: relative;
    transition: all .5s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
    // рамка активная
    // кружок активный

    &:before {
        transition: transform .5s ease;
        content: "";
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border-radius: 50%;
        top: 1px;
        left: 1px;
    }
}

.form-input {
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 8px;
    font-size: 14px;
    outline: none;
}

.form-button {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 7px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.search-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    stroke-width: 0;
    border: none;
    stroke: currentColor;
    fill: currentColor;
}