.loader {
    width: 16px;
    height: 16px;
    position: fixed;
    left: 50%;
    top: 97%;
    transform: translate(-50%);
    border-radius: 50%;
    color: rgb(66, 66, 186);
    animation: fill 0.4s ease-in infinite alternate;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    left: 48px;
    top: 0;
    animation: fill 0.3s ease-in infinite alternate;
}

.loader::after {
    left: auto;
    right: 48px;
    animation-duration: 0.5s;
}

@keyframes fill {
    0% {
        box-shadow: 0 0 0 2px inset
    }

    100% {
        box-shadow: 0 0 0 10px inset
    }
}