.load-more {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(66, 66, 186);
    color: white;
    transition: background-color 150ms linear;
}

.load-more:hover {
    background-color: rgb(107, 107, 209);
}

.load-more:active {
    background-color: rgb(66, 66, 186);
}